

<%=form_for @booking do |f| %>

<h3>Flight Information </h3>
<p>From: <%= @flight.from_airport.name %> </p>
<p>To: <%= @flight.to_airport.name %> </p>
<p>Date: <%= @flight.date.to_formatted_s(:long) %> </p>
<p> Enter Passenger Information </p>
<%=f.hidden_field :flight_id, :value => @flight.id %>
<%=f.fields_for :passengers do |q| %>
<%=q.label :name %>
<%=q.text_field :name %>
<%end%>

<%=f.submit "Book Flight" %>

<%end%>